{% extends "base.html" %}

{% block content %}

<section class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-3">
                        
                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>

                            <form action="{% url 'accounts:login' %}" method="post" class="form-mt">{% csrf_token %}


                                {% if form.errors %}
                                    
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {% for field in form %}

                                    {% if field.errors %}
                                        <div class="text-center" id="errors">
                                            <ol>
                                                {% for error in field.errors %}
                                                    <strong>{{ error|escape }}</strong>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    {% endif %}


                                    <div class="form-outline form-white mb-4">
                                        <label for="{{ field.name }}">{{ field.label }}</label>
                                        {{ field }}
                                    </div>

                                {% endfor %}

                                <button 
                                    class="btn btn-outline-light btn-lg px-5 mt-5" 
                                    type="submit">Login</button>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}