{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card card-type1 my-3">
                <div class="card-body">

                    <h4 class="card-message-page-title text-center">New Messages Cannot Be Sent Now.</h4>

                    <div class="text-center card-message">
                        <p>Sorry for the inconvinience. Contact messages cannot be sent now..</p> 
					    <p>We are currently working on fixing this problem as soon as possible.</p>
					    <p>Please come back later.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


