{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card card-type1 my-3">
                <div class="card-body">

                    <h4 class="card-message-page-title text-center">No New Signups At The Moment</h4>

                    <div class="text-center card-message">
                        <p>Sorry for the inconvinience. New signups cant be accepted at the moment.</p> 
					    <p>We are currently working on fixing this problem as soon as possible.</p>
					    <p>Please come back later.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


